# MapTiler API key - Get yours at https://www.maptiler.com/cloud/
NEXT_PUBLIC_MAPTILER_ACCESS_TOKEN=your_maptiler_api_key_here

# Mapbox API key - Get yours at https://www.mapbox.com/
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=your_mapbox_api_key_here

# Other environment variables
# ... 